<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-capitalize my-5">expenditures for Mahatma Gandhi National Rural Employment Guarantee Scheme (MGNREGS) in parliamentary constituencies of Odisha</h4>
        </div>
        <div class="col-md-6 col-12">
            <div class="mat-elevation-z8 mb-5">
                <table mat-table [dataSource]="dataSource" class="mt-3">

                    <!-- Quantity Column -->
                    <ng-container matColumnDef="ParliamentaryConstituency">
                        <th mat-header-cell *matHeaderCellDef> Parliamentry Constituency </th>
                        <td mat-cell *matCellDef="let element"> {{element.ParliamentaryConstituency}} </td>
                    </ng-container>

                    <ng-container matColumnDef="GrandTotalExpenditure">
                        <th mat-header-cell *matHeaderCellDef> Grand Total Expenditure </th>
                        <td mat-cell *matCellDef="let element"> {{element.GrandTotalExpenditure}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="OpeningBalance">
                        <th mat-header-cell *matHeaderCellDef> Opening Balance </th>
                        <td mat-cell *matCellDef="let element"> {{element.OpeningBalance}} </td>
                    </ng-container>



                    <!-- Unit Column -->
                    <ng-container matColumnDef="TotalExpenditureonMaterials">
                        <th mat-header-cell *matHeaderCellDef> Total Expenditure on Materials </th>
                        <td mat-cell *matCellDef="let element"> {{element.TotalExpenditureonMaterials}} </td>
                    </ng-container>
                    <!-- Total Column -->
                    <ng-container matColumnDef="TotalExpenditureonWages">
                        <th mat-header-cell *matHeaderCellDef> Total Expenditure on Wages </th>
                        <td mat-cell *matCellDef="let element"> {{element.TotalExpenditureonWages}} </td>
                    </ng-container>
                    <!-- Total Column -->
                    <ng-container matColumnDef="TotalFundAvailable">
                        <th mat-header-cell *matHeaderCellDef> Total Fund Available </th>
                        <td mat-cell *matCellDef="let element"> {{element.TotalFundAvailable}} </td>
                    </ng-container>

                    <!-- Total Column -->
                    <ng-container matColumnDef="TotalPaymentDue">
                        <th mat-header-cell *matHeaderCellDef> Total Payment Due </th>
                        <td mat-cell *matCellDef="let element"> {{element.TotalPaymentDue}} </td>
                    </ng-container>
                    <ng-container matColumnDef="TotalUnspentBalance">
                        <th mat-header-cell *matHeaderCellDef> Total Unspent Balance </th>
                        <td mat-cell *matCellDef="let element"> {{element.TotalUnspentBalance}} </td>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <!-- <mat-paginator [pageSizeOptions]="[10, 100,1000,10000]"></mat-paginator> -->
            </div>
        </div>
        <div class="col-md-6 col-12 mt-3">
            <div leaflet style="height: 700px" [leafletLayers]="layers" [leafletOptions]="options"
                (leafletMapReady)="onMapReady($event)"></div>
        </div>
    </div>
</div>



<div #map id="map"> </div>